// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
body {
  margin: 30px;
  background: #fff;
}

h1 {
  font-size: 4rem;
  line-height: 1;
  margin: 20px 0 5px 0;
  display: inline-block;
}

h2 {
  font-size: 3.5rem;
  line-height: 1;
  margin: 30px 30px 0 30px;
  display: inline-block;
  color: $darkblue;
}

p {
  font-size: 1.5rem;
  line-height: 1.3;
  margin: 30px;
}

.box {
  margin: 80px auto;
  max-width: 700px;
  width: 50vw;
}


.cap {
  text-transform: uppercase;
}

.colors {
  display: flex;
}

.color {
  flex: 1;
  height: 20px;
}

.blue-theme h1 {
  color: #1A374D;
}

.dark-blue {
  background-color: #1A374D;
}

.slate {
  background-color: #406882;
}

.lighter-blue {
  background-color: #6998AB;
}

.lightest-blue {
  background-color: #B1D0E0;
}

.different-blue {
  background-color: #112031;
}

.dark-green{
  background-color: #152D35;
}

.blue-green {
  background-color: #345B63;
}

.green-h {
  color: #345B63;
}

.light-green {
  background-color: #D4ECDD;
}

.right {
  float: right;
  position: relative;
}


.top-line {
/*   border-top: 10px solid  #406882; */
}

.floater:before {
  content: '';
  width: 9px;
  height: 10px;
  background-color: #B1D0E0;
  position: absolute;
  top: -5px;
  margin-left: 2.5px;
  z-index: -1;
/*   border-radius: 50%; */
}

.green-h .floater:before {
    background-color: #D4ECDD;
}

.big-sideways {
  transform: rotate(90deg);
  font-size: 14vw;
  position: absolute;
  top: 16vw;
  left: -14vw;
    color: #1A374D;
}

/*wave land from -- https://stackoverflow.com/questions/51771110/html-css-js-wave-draw-and-animation/51771651*/
#waves{
  position:fixed;
  z-index: -100;
  bottom: 0;
  height: 20vw;
  transform: rotate(90deg);
  right:-85vw;
}
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
  background-color: #1A374D;
/*     background-image: linear-gradient(to top, #B1D0E0 20%, #1A374D 80%); */
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 16s;
   -webkit-animation: move-wave 16s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 25s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 22s linear infinite;
}


#main-menu {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin: 30px;
  list-style: none;
  background-color: #1A374D;
  padding: 55px;
  box-shadow: 10px 10px #efefef;
  position: relative;
}

#main-menu:after{
    content: "";
    position: absolute;
    bottom: -52px;
    left: 90px;
    width: 100px;
    height: 100px;
    background: rgb(190,40,50);
    background: linear-gradient(43deg, rgba(190,40,50,0) 49%, #1A374D 49%);
    display: block;
}

#main-menu a {
  color: #fff;
  text-decoration: none;
}

/* .sidebar {
  background-image: url(https://experiments.middcreate.net/extras/imgs/arrow-right.svg);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: bottom center;
} */

.img-left {
  display: inline-block;
  float: left;
}